li {list-style-type: none;
font-size: 16pt;
}
.mail {
margin: auto;
padding-top: 10px;
padding-bottom: 10px;
width: 400px;
background : #D8F1F8;
border: 1px soild silver;
}
/*input {
font-size: 20pt;
}*/
input:focus, textarea:focus{
background-color: lightyellow;
}
input submit {
font-size: 12pt;
}
.grid{
	display: grid;
	grid-template-columns: 100px 100px;
	margin-left: 400px;
}
.logo{
	width: 70px;
	height: 70px;
}