.navbar{
  display: grid;
  grid-template-columns: 10px 10px 10px 30px 30px 10px 100px 30px;
  padding: 20px;
	position: fixed;
	top: 0;
  background-color: #e09377;
  width: 100%;
  justify-content: space-between;
}
a{
	text-decoration:none;
	color:black;
}
.home{
	margin-top: 50px;
}
.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 140px;
}
.content {
  position: absolute;
  color: white;
  padding-left: 125px;
  text-align: center;
  top: 0;
  padding-top: 70px;
  font-size: 20px;
}
.button{
  border: 1 solid;
  border-radius: 30px;
  background-color: #ed2453;
  margin-left: 200px;
  margin-top: 100px;
  padding: 7px;
}
/*page2css*/
.aboutus{
  margin-top: 500px;
}
.gridimage{
  height:200px;
   width:200px;
}
.container1{
  position: relative;
  font-family: Arial;
  margin-left: 200px;
  margin-top: 700px;
    padding-top: 200px;
}
.text-block{
  position: absolute;
  bottom: -72px;
  left: 390px;
  background-color: red;
  color: white;
  width: 20%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}
#more {display: none;}

/*page3css property*/
#team {
  margin-top: 620px;
    padding-top: 107px;
}
h2{
  color:#d92b5c;
}
.grid1{
	display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  margin-left: 60px;
  justify-content: space-between;
}
.grid2{
	display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  margin-left: 60px;
  justify-content: space-between;
}
.cont{
  position: relative;
  width: 50%;
}
.gridimage{
  opacity: 1;
  display: block;
}
.hover1{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  text-align: center;
  background-color: #d92b5c;
  width: 20px;
  height: 80px;
}
.cont:hover .hover1 {
  opacity: 1;
}
/*page4css prperty*/
#event{
  background: #d5d3e2;
  padding: 10px;
  margin-top: 700px;
    padding-top: 200px;
}
.eventimage{
  height: 100px;
  width: 100px;
  float:left; 
}
.event1{
  border-style:solid white;
  width: 800px;
  background-color: white;
  margin:50px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
}
.dltbutton{
  background-color: blue;
  margin-left: 100px;
  height: 30px;
  width: 30px;
}
.dltbutton hover{
  opacity: 1;
}
.gridcontainer{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 10px;
  border-style: solid black;
  border-style:solid blue;
  margin-left: 100px;
}
.templogo{
border: 1px ;
 padding: 40px;
 background-color: yellow;
  }
#demo{
 border: 1px;
background-color: #d0cfcf;
padding: 10px;
}
#temp{
 border: 1px;
  background-color: #d0cfcf;
  padding: 40px;
}
#signal{
 border: 1px ;
 padding: 40px;
  background-color: #d0cfcf;
}

#demo{
  border-style: solid black;
}
.signal{
  color: green;
}
#current_day { 
  background-color:yellow; 
  font-weight: bold;
}