.navbar{
	display: flex;
	padding: 31px 11px 31px 43px; 
	position: fixed;
	top: 0;
  background-color: #e09377;
  width: 100%;
}
a{
	text-decoration:none;
	color:black;
	 padding: 31px 11px 31px 43px; 
}
.home{
	margin-top: 50px;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
}
.content {
  position: absolute;
  color: white;
  padding-left: 125px;
  text-align: center;
  top: 0;
}
.button{
  border: 1 solid;
  border-radius: 30px;
}
/*page2css*/
.about{
  margin-top: 500px;
}
.gridimage{
  height:200px;
   width:200px;
}
.container1{
  position: relative;
  font-family: Arial;
  margin-left: 200px;
  margin-top: 700px;
    padding-top: 200px;
}
.text-block{
  position: absolute;
  bottom: 20px;
  left: 390px;
  background-color: red;
  color: white;
  width: 20%;
  padding-left: 20px;
  padding-right: 20px;
}
#more {display: none;}

/*page3css property*/
#team {
  margin-top: 700px;
    padding-top: 200px;
}
.grid1{
	display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  margin-left: 60px;
  justify-content: space-between;
}
.grid2{
	display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  margin-left: 60px;
  justify-content: space-between;
}
/*page4css prperty*/
#event{
  background: grey;
  padding: 10px;
  margin-top: 700px;
    padding-top: 200px;
}
.eventimage{
  height: 100px;
  width: 100px;
  float:left; 
}
.event1{
  border-style:solid white;
  width: 800px;
  height: 200px;
  background-color: white;
  margin:50px;
  padding: 20px;
}
.dltbutton{
  background-color: blue;
  margin-left: 400px;
}
.gridcontainer{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 10px;
  border: 1 solid blue;
}
.signal{
  color: green;
}
/*signup page*/
.signup{
  padding-left: 562px;
  /*margin-top: 700px;
    padding-top: 200px;*/
}
